@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

.navbar-brand {
	color: #1B5E20;
}

.navbar {
	border-bottom: #43A047 3px solid;
}

/*
font-family: 'Noto Sans KR', sans-serif;
*/
.loginForm {
	width: 300px;
	background-color: #EEEFF1;
	color: red;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

.textField {
	width: 100%;
	font-size: 14px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}